@import "compass/support";

$box-sizing-extend: true !default;
$toolkit-box-sizing: false !default;

//////////////////////////////
// Updated Box Sizing mixin, allowing for behavior support
//////////////////////////////
@mixin box-sizing($bs, $extend: $box-sizing-extend) {
  @if $extend and $bs == 'border-box' {
    @extend %border-box;
  }
  @else if $extend and $bs == 'content-box' {
    @extend %content-box;
  }
  @else {
    $bs: unquote($bs);
    @include prefixed-properties(css3-boxsizing, $box-sizing-support-threshold, (box-sizing: $box-model));

    @if $bs == 'border-box' {
      @include for-legacy-browser("ie", "7") {
        *behavior: stylesheet-url("../behaviors/box-sizing/boxsizing.php");
      }
    }
    @else {
      *behavior: none;
    }
  }
}

@if not $toolkit-box-sizing {
  %border-box {
    @include box-sizing('border-box', false);
  }

  %content-box {
    @include box-sizing('content-box', false);
  }
}